DATABASE_URL="postgresql://postgres:root@localhost:5433/quick_chat_db?schema=public"
REDIS_HOST="localhost"
REDIS_PORT="6379"


JWT_ACCESS_SECRET="quick_chat_access_secret_dev"
JWT_REFRESH_SECRET="quick_chat_refresh_secret_dev"
JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN_DAYS="7"
